* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

header {
  background-color: #131212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

header img {
  padding-left: 2rem;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
}

.nav ul li {
  color: rgb(255, 255, 255);
  padding: 0 2rem;
}

.nav ul button {
  background-color: aqua;
  padding: 0 1rem;
  margin-right: 2rem;
  font-size: 1rem;
}

.banner {
  height: 100vh;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  overflow-y: hidden;
}

.banner-container img {
  padding-top: 4rem;
}

.hero {
  position: relative;
  height: 75vh;
  width: 100vw;
  background-image: url("img/background3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: opacity(90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  color: white;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0rem 10rem;
}

.titles {
  border-bottom: #ffffff solid;
  overflow: hidden;
}

.intro p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0 0.7rem 0;
}

.intro button {
  background-color: aqua;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.services {
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("img/wrench_x.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(90%);
  border-top: black solid;
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.company-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem 3rem 2rem;
  font-size: 1.7rem;
}

.divider {
  height: 400px;
  width: 1px;
  background-color: rgb(255, 255, 255);
}

.hours i,
.hours h3,
.hours p,
.phone i,
.phone h3,
.phone p {
  padding-bottom: 1rem;
}

.phone button {
  background-color: aqua;
  font-size: 1rem;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.services-sub {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.7rem;
}

.services-sub i,
.services-sub h5,
.services-sub p {
  padding-bottom: 1rem;
}

.installations,
.sewer {
  border-right: 1px solid rgb(226, 191, 191);
}

.installations {
  padding-right: 1rem;
}

.sewer {
  padding: 0 1rem;
}

.repairs {
  padding-left: 1rem;
}

.about {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 4rem;
}

.about p {
  font-size: 2rem;
  padding: 1rem 3rem 1rem 3rem;
}

.carousel {
  height: 600px;
  width: 800px;
  perspective: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.carousel .carousel-item {
  width: 80%;
  height: 80%;
  overflow: hidden;
  
}

#work-carousel {
  height: 600px;
  width: 600px;
}
