body {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}
nav {
  height: 6.4rem;
}

.logo {
  height: 10rem;
  width: 14rem;
  padding: 0.7rem 0 0 0.8rem;
}

.container {
  padding-top: 1.5rem;
}

.container a {
  font-size: 2rem;
}

.container button a {
  font-size: 1.5rem;
  background-color: rgb(55, 177, 249);
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.sidenav {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  border-radius: 41% 59% 0% 100% / 66% 0% 100% 34%;
}

.sidenav li {
  padding: 1.5rem 0rem 0.5rem 0rem;
}

.sidenav li a {
  color: rgb(55, 177, 249) !important;
  font-size: 2rem;
  overflow: hidden;
}

.sidenav button {
  background-color: rgb(55, 177, 249);
  color: black;
  padding: 0.2rem 0.5rem;
  border-radius: 12%;
}

.banner {
  height: 100vh;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  overflow-y: hidden;
}

.banner-container img {
  padding-top: 4rem;
}

.hero {
  height: 75vh;
  width: 100vw;
  background-image: url("img/background3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: opacity(90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 6rem;
}

.title {
  border-bottom: #ffffff solid;
  overflow: hidden;
}

.intro p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0 0.7rem 0;
}

.intro button {
  background-color: rgb(55, 177, 249);
  color: rgb(0, 0, 0);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.services {
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("img/wrench_x.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(90%);
  border-top: black solid;
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.company-info {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem 0 3rem 0;
  font-size: 1.7rem;
}

.company-info h3 {
  overflow: hidden;
}

.divider {
  height: 400px;
  width: 1px;
  background-color: rgb(255, 255, 255);
}

.phone button {
  background-color: rgb(55, 177, 249);
  color: black;
  font-size: 1rem;
  border-radius: 12px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.services-sub {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.7rem;
}
.phone p {
  color: rgb(255, 255, 255) !important;
}

.services-sub i,
.services-sub h5,
.services-sub p {
  padding-bottom: 1rem;
}

.installations {
  padding-right: 1rem;
}

.sewer {
  padding: 0 1rem;
}

.repairs {
  padding-left: 1rem;
}

.services-divider {
  height: 60vh;
  width: 1px;
  background-color: rgb(255, 255, 255);
}

.about {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 4rem;
}

.about p {
  font-size: 2rem;
  padding: 1rem 3rem 1rem 3rem;
}

.about h1 {
  overflow: hidden;
}

.carousel {
  height: 800px;
  width: 800px;
  perspective: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.carousel .carousel-item {
  width: 80%;
  height: 80%;
  overflow: hidden;
}

.hamburger {
  overflow: hidden;
}

/* <------ Media --------> */

@media screen and (max-width: 950px) {
  .services-sub {
    flex-direction: column;
  }
  .services-sub i {
    padding-bottom: 0;
  }

  .services-sub h5 {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 1rem 20rem;
    overflow: hidden;
  }

  .services-divider {
    display: none;
  }

  .services-sub {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
  }

  .services-sub img {
    padding-bottom: -5rem;
  }

  .services-sub p {
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 820px) {
  .hero {
    background-image: url("img/background-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: opacity(90%);
  }

  .intro {
    padding-bottom: 3rem;
    overflow: hidden;
  }

  .services-sub p {
    font-size: 1.5rem;
    padding: 0 10rem 2rem 10rem;
  }

  .carousel {
    height: 400px;
    width: 400px;
    perspective: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

  .about p {
    padding: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .banner {
    height: 60vh;
  }
  .banner img {
    height: 30rem;
    width: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 460px) {
  .sidenav li {
    padding: 1rem;
  }

  .sidenav li a {
    font-size: 1.5rem;
  }

  .banner {
    height: 50vh;
  }

  .banner img {
    height: 20rem;
    width: 20rem;
  }

  .title {
    font-size: 2rem;
  }

  .intro p {
    font-size: 1.4rem;
  }

  .company-info {
    font-size: 1.2rem;
  }

  .services-sub p {
    font-size: 1.2rem;
    padding: 0 15rem 2rem 15rem;
  }

  .carousel {
    height: 400px;
    width: 400px;
    perspective: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}

@media screen and (max-width: 400px) {
  .banner-container img {
    padding-bottom: 2rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .intro {
    font-size: 1rem;
    padding: 1rem 1rem 4rem 1rem;
    overflow: hidden;
  }

  .intro p {
    font-size: 1rem;
  }

  .about {
    padding: 1rem 2rem;
  }
  .about h1 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1rem;
  }

  .carousel {
    height: 300px;
    width: 300px;
    perspective: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

  .phone {
    padding-left: 0.5rem;
  }
}
