* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  background-color: rgb(0, 0, 0);
}
nav {
  height: 6.4rem;
}

.logo {
  height: 10rem;
  width: 14rem;
  padding: 0.7rem 0 0 0.8rem;
}

.container {
  padding-top: 1.5rem;
}

.container a {
  font-size: 2rem;
}

.container button {
  font-size: 1.5rem;
  background-color: rgb(55, 177, 249);
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.sidenav {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  border-radius: 41% 59% 0% 100% / 66% 0% 100% 34%;
}

.sidenav li {
  padding: 1.5rem 0rem 0.5rem 0rem;
}

.sidenav li a {
  color: rgb(55, 177, 249) !important;
  font-size: 1.5rem;

}

.sidenav li button a{
  color: rgb(0, 0, 0) !important;
  background-color: rgb(55, 177, 249);
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 12%;
  margin-top: 10rem !important;

}


.banner {
  height: 100vh;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  overflow-y: hidden;
}

.banner-container img {
  padding-top: 4rem;
}

.hero {
  height: 75vh;
  width: 100vw;
  background-image: url("img/background3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: opacity(90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  color: white;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0rem 6rem;
}

.title {
  border-bottom: #ffffff solid;
  overflow: hidden;
}

.intro p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0 0.7rem 0;
}

.intro button {
  background-color: rgb(55, 177, 249);
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.services {
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("img/wrench_x.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(90%);
  border-top: black solid;
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.company-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem 3rem 2rem;
  font-size: 1.7rem;
}

.divider {
  height: 400px;
  width: 1px;
  background-color: rgb(255, 255, 255);
}

.hours i,
.hours h3,
.hours p,
.phone i,
.phone h3,
.phone p {
  padding-bottom: 1rem;
}

.phone button {
  background-color: rgb(55, 177, 249);
  font-size: 1rem;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.services-sub {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.7rem;
}

.services-sub i,
.services-sub h5,
.services-sub p {
  padding-bottom: 1rem;
}

.installations,
.sewer {
  border-right: 1px solid rgb(226, 191, 191);
}

.installations {
  padding-right: 1rem;
}

.sewer {
  padding: 0 1rem;
}

.repairs {
  padding-left: 1rem;
}

.about {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 4rem;
}

.about p {
  font-size: 2rem;
  padding: 1rem 3rem 1rem 3rem;
}

.carousel {
  height: 600px;
  width: 800px;
  perspective: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.carousel .carousel-item {
  width: 80%;
  height: 80%;
  overflow: hidden;
}

#work-carousel {
  height: 600px;
  width: 600px;
}

@media screen and (max-width: 680px) {
  .banner {
    height: 60vh;
  }
  .banner img {
    height: 30rem;
    width: 30rem;
  }
}

@media screen and (max-width: 440px) {
  .banner {
    height: 50vh;
  }

  .banner img {
    height: 20rem;
    width: 20rem;
  }
}