* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  background-color: white;
}

.sidenav {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
  border-radius: 0% 0% 0% 100% / 10% 0% 10% 34%;
}

.fa-bars {
  padding-right: 3rem;
}

main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem;
  padding: 2rem 4rem;
  font-size: 3rem;
}

.main_img {
  width: 100vw;
}

h1,
h2 {
  overflow: hidden;
}

.wisconsin_call {
  padding-top: 4rem;
}
main p,
ul,
li {
  font-size: 2rem;
}

.pic_right,
.pic_left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pic_right img,
.pic_left img {
  border-radius: 20px;
  height: 100%;
}

.logo {
  width: 14%;
  height: 12%;
}

@media screen and (min-width: 1000px) {
  .fixed-action-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 14%;
    height: 14%;
  }

  main {
    margin: 1rem 3rem 2rem 3rem;
    padding: 0;
  }
  .attention {
    font-size: 1.5rem;
  }

  h1,
  h2 {
    font-size: 3rem;
  }

  main p,
  ul,
  li {
    font-size: 1rem;
  }

}

@media screen and (max-width: 600px) {
  .logo {
    width: 20%;
    height: 20%;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
}
